.agb {
  padding-left: 10px;
  padding-right: 10px;
}

.privacy-policy {
  padding-left: 10px;
  padding-right: 10px;
}

.impressum-text {
  padding-left: 10px;
  padding-right: 10px;
}

a.imp-link {
  color: #e63946 !important;
}

a.imp-link:hover {
  color: #5f32a8 !important;
}

.imp-link {
  text-align: center;
}

.sendmail {
  font-size: 26px;
  text-align: center;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.center-text {
  font-size: 16px;
}

#mail_sent h1 {
  margin: 80px 20px 40px 20px;
}

#mail_sent h2 {
  margin: 10px 40px 40px 40px;
  text-align: center;
}

#mail_sent {
  margin: 0px 0px 80px 0px;
}

.w-50 {
  width: 50%;
}

.sendmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row p {
  padding-left: 4px;
  padding-right: 4px;
}

form {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #4caf50;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
  margin-top: 10px;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.center {
  text-align: center;
  color: red;
}

.center {
 margin-right: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.main-center {
  display: flex;
  justify-content: center; /* horizontal zentrieren */
  align-items: flex-start; /* vertikal oben ausrichten */
  min-height: 100vh; /* gesamte Höhe */
  padding-top: 10vh; /* Abstand vom oberen Rand (~oberes Drittel) */
  box-sizing: border-box; /* Padding wird berücksichtigt */
}

.main-center form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}
